<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Điều chỉnh khách hàng</title>
    <th:block th:replace="~{admin/common/header :: header}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/png" href="https://pngimg.com/uploads/building/building_PNG3.png" />
</head>
<body class="no-skin" style="font-family: 'Abel', sans-serif;">
<th:block th:replace="~{admin/common/menu :: menu}"></th:block>
<!--main-container -->
<div class="main-content" id="main-content">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <th:block th:replace="~{admin/common/sidebar :: sidebar}"></th:block>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content" style="padding: 8px 20px;">
                <div class="page-header">
                    <h1>
                        Thông tin khách hàng
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            overview &amp; stats
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">Thông tin khách hàng</h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <form class="form-horizontal" id="form-edit"  th:action="@{/admin/customers/edit/{id}(id=${customer.id})}"
                                          th:object="${customer}">
                                        <input type="hidden" id="buildingid" th:value="${customer.id}" th:field="*{id}">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                   for="fullName"> Tên khách hàng</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="Name Customer"
                                                       class="form-control" id="fullName" name="fullName"
                                                       th:field="*{fullName}"
                                                       th:readonly="${customer.id != null and !#authorization.expression('hasRole(''MANAGER'')')}" />
                                                <span class="error-message" id="noName" style="display: none;color: #a71d2a">Missing Infomation</span>
                                            </div>
                                        </div><!-- fullName -->

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                   for="phone"> Số điện thoại </label>
                                            <div class="col-sm-4">
                                                <input type="number" placeholder="Phone Number" class="form-control" id="phone" name="phone" th:field="*{phone}">
                                                <span class="error-message" id="nophone" style="display: none;color: #a71d2a">Missing Infomation</span>
                                            </div>
                                        </div><!-- Phone Number -->

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                   for="email"> Email </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="Email" class="form-control" id="email" name="email" th:field="*{email}">
                                                <span class="error-message" id="noEmail" style="display: none;color: #a71d2a">Missing Infomation</span>
                                            </div>
                                        </div><!-- Email -->

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                   for="companyname"> Tên công ty </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="Company Name"
                                                       class="form-control" id="companyname" name="companyname" th:field="*{companyname}">
                                                <span class="error-message" id="noCompanyname" style="display: none;color: #a71d2a">Missing Infomation</span>
                                            </div>
                                        </div><!-- companyname -->

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"
                                                   for="demand"> Nhu cầu </label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="Demand"
                                                       class="form-control" id="demand" name="demand" th:field="*{demand}">
                                                <span class="error-message" id="nodemand" style="display: none;color: #a71d2a">Missing Infomation</span>
                                            </div>
                                        </div><!-- demand -->

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"> Trạng thái xử lý </label>
                                            <div class="col-sm-9">
                                                <select name="status" id="status" class="col-xs-10 col-sm-2" th:field="*{status}">

                                                    <option th:each="s:${statusId}"
                                                            th:value="${s.key}"
                                                            th:text="${s.value}">
                                                            //th:selected="${s.index == 0}">
                                                    </option>
                                                </select>
                                                <span class="error-message" id="nostatus" style="display: none;color: #a71d2a">  Missing Infomation</span>
                                            </div>
                                        </div><!-- status -->

                                        <div class="center">
                                            <button type="button" class="btn btn-primary" id ="btnaddcustomer"
                                                    style="border-radius: 6px;left: 22px;">
                                                Lưu thông tin</button>
                                            <a href='/admin/customers/list'>
                                                <button type="button" class="btn btn-secondary btn-danger"
                                                        data-dismiss="modal" style="border-radius: 6px;left: 32px;">
                                                    Trở Về
                                                </button></a>
                                        </div><!-- button -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.page-main -->

                <div th:if="${customer.id != null}"
                     th:each="type : ${transactionCode}"
                     style="margin-top: 30px">

                    <div style="display: flex; align-items: center; margin-top: 20px">

                        <h2 style="flex: 1; margin: 0; color: rgb(38, 121, 181);"
                            th:text="${type.value}">
                        </h2>

                        <button class="btn btn-success"
                                style="border-radius: 8px; overflow:hidden;"
                                th:id="${type.key}"
                                th:data-type="${type.key}"
                                data-toggle="modal"
                                data-target="#transaction">

                            + Thêm giao dịch
                        </button>
                    </div>

                    <div class="hr hr-18 dotted hr-double"></div>

                    <div class="row">
                        <div class="col-xs-12">

                            <table class="table table-striped table-bordered table-hover">

                                <thead>
                                <tr>
                                    <th style="width: 250px;">Ngày tạo</th>
                                    <th style="width: 200px;">Người tạo</th>
                                    <th style="width: 250px;">Ngày sửa</th>
                                    <th style="width: 200px;">Người sửa</th>
                                    <th>Chi tiết giao dịch</th>
                                    <th style="width: 150px;">Thao tác</th>
                                </tr>
                                </thead>

                                <tbody>

                                <tr th:each="item : ${customer.transactionList[type.key]}">

                                    <td th:text="${item.createdDate}"></td>

                                    <td th:text="${item.createdBy}"></td>

                                    <td th:text="${item.modifiedDate}"></td>

                                    <td th:text="${item.modifiedBy}"></td>

                                    <td th:text="${item.note}"></td>

                                    <td style="white-space: nowrap;">

                                        <div class="hidden-sm hidden-xs btn-group">

                                            <button onclick="updatetransaction(this)"
                                                    th:data-id="${item.id}"
                                                    th:data-note="${item.note}"
                                                    th:data-type="${type.key}"
                                                    data-toggle="modal"
                                                    data-target="#transaction"
                                                    class="btn btn-xs btn-info" title="Sửa"
                                                    style="border-radius: 5px">

                                                <i class="ace-icon fa fa-pencil-alt bigger-150"></i>
                                            </button>

                                            <button class="btn btn-xs btn-danger"
                                                    th:data-id="${item.id}"
                                                    onclick="deletetransaction(this)"
                                                    style="border-radius: 5px">

                                                <i class="ace-icon far fa-trash-alt bigger-150"></i>
                                            </button>

                                        </div>

                                    </td>

                                </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div><!-- /.page-content -->
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>

    <!-- Modal transactionForm -->
    <form id="transactionForm" th:object="${customer}">
    <div class="modal fade" id="transaction" style="border-radius: 10px; overflow:hidden;">
        <div class="modal-dialog modal-lg" role="document" style="top:10%;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            <div class="modal-content" style="border-radius: 10px; overflow:hidden;">
                <div class="modal-header">
                    <h4 class="modal-title">Nhập thông tin giao dịch</h4>
                    <div class="modal-body d-flex justify-content-center align-items-center" style="min-height: 100px;">
                        <div class="col-sm-12" style="margin-top: 15px;">
                            <input type="hidden" id="customerid" th:value="${customer.getId()}">
                            <input type="hidden" id="modalId">
                            <input type="hidden" id="modalType">
                            <input type="text" id="transactionCSKH" class="form-control" placeholder="Nhập thông tin..." name="transaction" value="">
                            <span class="error-message" id="notransaction" style="display: none;color: #a71d2a">Missing Infomation</span>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: white;">
                    <button type="submit" class="btn btn-mess btn-primary" style="border-radius: 8px; overflow:hidden;"
                            id="btn-addtransaction">Thêm giao dịch</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="border-radius: 8px; overflow:hidden;">Huy</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
    <!-- Modal transactionForm -->

    <!-- Modal sure -->
    <div class="modal fade" id="sureModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document"
             style="top:35%;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            <div class="modal-content" style="border-radius: 10px; overflow:hidden;">
                <div class="modal-header">
                    <input type="hidden" id="ids" >
                    <h4 class="modal-title">Cảnh Báo !!!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="position:absolute;top:10px;right:20px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-black-50" style="font-size:larger;text-align: center;">
                    <p>Bạn có chắc xóa giao dịch này
                    <div id="sureModalContent"
                         style="margin-top:10px; text-align:left; font-size:15px;">
                    </div>
                    </p>
                </div>

                <div class="modal-footer">
                    <form id="deleteForm">
                    <button type="submit" class="btn btn-danger btn-primary" style="border-radius: 8px; overflow:hidden;"
                            id="deleteonecustomer">Xoa giao dịch</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="border-radius: 8px; overflow:hidden;">Huy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal sure -->
</div>
<!-- /.main-container -->

<th:block th:replace="~{admin/common/footer :: footer}"></th:block>
<th:block th:replace="~{admin/common/common-scripts :: jquery}"></th:block>

<!--ajax--><!-- ace scripts -->
<script>
    function resetErrorMessages()
    {
        document.getElementById("noName").style.display ="none";
        document.getElementById("nodemand").style.display ="none";
        document.getElementById("nostatus").style.display ="none";
        document.getElementById("nophone").style.display ="none";
        document.getElementById("noCompanyname").style.display ="none";
        document.getElementById("noEmail").style.display ="none";
    }
    function validateData(json)
    {
        resetErrorMessages();
        let check = true;
        if(json['fullName']==="") {
            document.getElementById("noName").style.display = "block";
            check = false;
        }
        var phoneRegex = /^\d{10,}$/;
        if(json['phone']===""|| !phoneRegex.test(json['phone'])) {
            document.getElementById("nophone").style.display = "block"; check = false;
        }
        return check;
    }

    $('#btnaddcustomer').click(function(e){
        e.preventDefault();
        const formData = $('#form-edit').serializeArray();
        const json = {};
        $.each(formData,function(i,it){
                json[it.name]=it.value});
        if(!validateData(json)) return;
        createOrUpdateCustomer(json);
    })
    //AJAX
    function createOrUpdateCustomer(data)
    {
        var method = (data.id && data.id !== "") ? "PUT" : "POST";
        $.ajax({
            url: "/api/customers",
            type: method,
            data : JSON.stringify(data),
            dataType : "JSON",
            contentType : 'application/json',
            success : function(respond)
            {
                alert("Đã lưu thành công khách hàng :\n"+ respond.data.fullName + " (ID: " + respond.data.id + ")");
                //location.reload();
                //window.location.href = "/admin/buildings/Edit";
                console.log("OK!!!");
            },
            error: function(respond)
            {
                // xhr chứa thông tin chi tiết
                console.log("FAILED!!", respond);
                // Hiển thị chi tiết lỗi cho người dùng
                alert(respond.responseText);
            }
        });
    }
    function AddCustomer(data)
    {
        var method = (data.id && data.id !== "") ? "PUT" : "POST";
        $.ajax({
        url: "/api/customers",
        type: 'POST',
        data : JSON.stringify(data),
        dataType : "JSON",
        contentType : 'application/json',
        success : function(respond){
            alert("Đã lưu thành công khách hàng :\n"+ respond.fullName + " (ID: " + respond.id + ")");
            console.log("OK!!!");
        },
        error: function(respond){
            // xhr chứa thông tin chi tiết
            console.log("FAILED!!", respond);


            // Hiển thị chi tiết lỗi cho người dùng
            alert("Lỗi khi lưu khach hàng:\n" + respond.responseText);
        }
    });
    }

    $('#transaction').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var type = button.data('type');
        $('#modalId').val(id);
        $('#modalType').val(type);
        $('#transactionCSKH').val(button.data('note'));
        $(this).attr('data-type', type);
    });

    $('#transactionForm').on('submit', function (e) {
        e.preventDefault();
        var id = $('#modalId').val();
        var customerId = $('#customerid').val();
        var note = $('#transactionCSKH').val().trim();
        var code = $('#modalType').val();
        var method = (id && id !== "") ? "PUT" : "POST";
        $('#notransaction').hide();
        if (!note) {
            $('#notransaction').show();
            return;
        }
        $.ajax({
            url: '/api/customers/transaction',
            type: method,
            contentType: 'application/json',
            data: JSON.stringify({
                id:id,
                customerId: customerId,
                note: note,
                code: code
            }),
            success: function (res) {
                alert("Thêm giao dịch thành công");
                $('#transactionCSKH').val('');
                $('#transaction').modal('hide');
                location.reload();
            },
            error: function (err) {
                console.error("Lỗi:", err);
            }
        });
    });
    function updatetransaction(btn) {
        var note = $(btn).data('note');
        var id = $(btn).data('id');
        $('#transactionCSKH').val(note);
        $('#modalId').val(id);
    };
    function deletetransaction(btn)
    {
        const id = $(btn).data('id');
        $('#sureModal').data('id', id);
        $('#sureModal').modal('show');
    }
    $('#deleteForm').on('submit', function (e) {
        e.preventDefault();
        var id = $('#sureModal').data('id');
        $.ajax({
            url: '/api/customers/transaction/' + id,
            type: 'DELETE',
            success: function () {
                alert("Xóa thành công");
                $('#sureModal').modal('hide');
                location.reload();
            }
      });
    });
</script>
</body>
</html>